body {
  background-color: black;
}

.heading {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(12, 12, 218);
  color: white;
  box-shadow: 1px solid black;
}

.image {
  border: 1px solid black;
  border-radius: 50%;
}

p {
  font-size: 20px;
  font-family: "Times New Roman"
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: blue;
  font-weight: bolder;
  cursor: pointer;
  transition: .3s all ease-in-out;
}
button:hover {
  background-color: blue;
  color: white;
}