body {
    margin: 0;
}

main {
    padding: 36px;
}
.logo {
    height: 30px;
}

.navbar {
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.logo {
    margin-top: 0px;
   
}

.spanLogo {
   margin-left: 10px;
   margin-bottom: 20px;

}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.formInput {
    border-radius: 5px;
    border: 1px solid;
    text-indent: 5px;
}

.formButton {
    grid-column: 1 / -1;
    border-radius: 5px;
    border: 1px solid;
    background-color: purple;
    color: white;
    cursor: pointer;
}

.imageMeme {
    display: block;
    max-width: 100%;
}