button {
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
}


body {
    background-color: white;
}
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

.stateValue {
    display: flex;
    margin: auto;
    width: 120px;
    border-style: inset;
    border-radius: 100px;
    background-color: white;
}

.yes {
    color: black;

}

.cardFavorite {
    width: 30px;
}

.cardContainer {
    border-style: groove;
    margin-top: 50px;
    background-color: grey;
    color: white;
}

img {
    display: block;
    width: 100px;
    margin: 70px auto -10px;
    border-radius: 100px;
    cursor: pointer;
}
.cardInfo {
    line-height: 1px;
    margin-top: -50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}